/*
font-family: 'Montserrat', sans-serif;
font-family: 'Allerta', sans-serif;
*/
body{
	font-family: 'Allerta', sans-serif;
	margin: 0;

}


.titulo{
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
	margin-top: 70px;

}

.titulo span{ 
text-decoration: underline; }

.title-a{
	font-size: 24px;
	margin-top: 0;
}

.title-b{
	font-size: 50px;

margin-bottom: 20px
}
 .guitarras{
	color:#1f313c; 	
	
 }

.guitarras h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px
}

.background{

	background-image: url('../images/background.png');
	background-size: cover;
}

.portada{ 
 	color: white;
 	height: 500px;
 	
 }

.portada button{
	margin-bottom: 70px;
}

 .menu{
 	font-size: 24px;
 	display: inline-block;
 	position: absolute;
 	right: 0;
 }

 header{
 	position: relative;
 }

 .menu li{
 	display: inline-block;
 	margin-left: 30px;
 }

 .menu a{ 
 	color: white;
 	text-decoration: none;
  }
 	
.logotipo{ 
 	display: inline-block;
 	margin-left: 0;
 }


.guitarra{
	/*overflow:hidden*/;
	padding: 10px;
	margin:  10px;	
	border: 1px solid  #1f313c; 
	border-radius: 8px;
}

.derecha{
	float: right;
	position: relative;
	top: -127px;
}

.izquierda{
	float: left;
	position: relative;
	top: -25px
}
.guitarra ol{
	padding-left: 20px;
}



.contenedor{
	width: 800px;
 	margin:auto;
 	position: relative;
}


.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	top: -90px;
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.button{
	border-radius: 8px;
	background: #fd324e;
	color: white;
	border: none;
	padding: 7px;
	background: linear-gradient(to left,#fe344e,#ff7250);
	cursor: pointer;
	text-decoration: none;
}

.footer{
	background: #273b47;
	

}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.footer_precios{
	background: #273b47;
	position: absolute;
	bottom: 0;
	width: 100%;

}

.footer_precios .contenedor{
	display: flex;
	justify-content: space-between;
}

.contacto img{ 
	display: block;
	margin-top: 15px;
 }

 .contacto strong{
 	display: block;
 }

 .contacto a{
 	color:white;
 	text-decoration: none;
 	margin: 10px 10px 10px 0;
 }

 .contacto{
 	display: flex;
 	width: 220px;
 	height: 200px;
 	flex-wrap: wrap;
 	
 }

 .formulario{ 
 	display: flex;
 	color: white;
 	padding: 50px 0 50px 0;
  }

.col1 , .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}


.formulario label ,.sexo , .interedes {
	margin-bottom: 10px;
}

.intereses{

	width: 230px;
}

.sexo{ 
	margin-top: 10px;
 }
 
 .col2 input{
 	margin-top: 10px;
 }

table{
	width: 100%;

	

}

.tabla{
	margin: 50px 0 50px 0;
	padding: 90px;

}

th{
	background: #273b47;
	color: white;
	padding: 10px;
}

td{ 
	padding: 20px;
	text-align: center;

 }

 table,td,th{
 	border: 1px solid #273b47;
 	border-collapse: collapse;
 }

 .menu li:before{
 	content: '•';
 	font-size: 25px;
 	
 }



 @media screen and (max-width: 800px){

 	body{
 		background: peru;
 		border: 15px solid yellow;
 	}
 }


